<div class="w-full min-h-screen bg-[#fafafa]">

  <%# Navigation and search for professionals %>
  <%= render "nav" %>

  <%# Display of found professionals %>
  <div class="flex flex-col justify-center space-y-8 px-2 lg:px-10 my-6">
    <%= render "professional" %>
  </div>

</div>